<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no' />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Elevator Controller">
    <meta name="author" content="Emily Keys">

    <title>Elevator Controller</title>

    <!-- Google Fonts - Josefin Slab -->
    <link href='https://fonts.googleapis.com/css?family=Josefin+Slab:400,300,600,700' rel='stylesheet' type='text/css'>

    <!-- Core styles -->
    <%= stylesheet_link_tag :style %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>

    <!-- jQuery CDN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

    <!-- Bootstrap CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


    <!-- Javascript Plugins -->
    <%= javascript_include_tag :plugins %>

    <!-- Core Javascript -->
    <%= javascript_include_tag :main %>
  </body>
</html>
